.TextSection {
  background-color: #000281;
  padding: 50px 30px;
  margin: 20px 20px;
  border-radius: 25px;
}
#Head_Section {
  background-color: #000281;
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
}
.Paragraph {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}
.Opening_Heading {
  color: #c2d8ec;
  text-align: center;
}
.SectionTitle {
  color: #c2d8ec;
  font-size: 24px;
  margin-bottom: 10px;
}
body {
  background-color: #009b77;
  font-family: Arial, sans-serif;
}
